<header>
  <nav
    class="navbar navbar-expand-md navbar-dark"
    style="background-color: #b5838d"
  >
    <a
      class="navbar-brand"
      style="font-family: 'Allerta Stencil', sans-serif"
      href="/redirect"
      >TinyApp</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (user) { %>
    <a class="nav-item nav-link">Logged in as: <%= user.email %></a>
    <form method="POST" action="/logout">
      <button type="submit" class="btn btn-outline-dark">Logout</button>
    </form>
    <% } else { %>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/login">Login</a>
      <a class="nav-item nav-link" href="/register">Register</a>
    </div>
    <% } %>
  </nav>
</header>

<!--Google Font-->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Monoton&display=swap"
  rel="stylesheet"
/>

<header>
  <nav
    class="navbar navbar-expand-md navbar-dark"
    style="background-color: #b5838d"
  >
    <a
      class="navbar-brand"
      style="font-family: 'Allerta Stencil', sans-serif"
      href="/redirect"
      >TinyApp</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (user) { %>
    <a class="nav-item nav-link">Logged in as: <%= user.email %></a>
    <form method="POST" action="/logout">
      <button type="submit" class="btn btn-outline-dark">Logout</button>
    </form>
    <% } else { %>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/login">Login</a>
      <a class="nav-item nav-link" href="/register">Register</a>
    </div>
    <% } %>
  </nav>
</header>

<!--Google Font-->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Monoton&display=swap"
  rel="stylesheet"
/>
